---
import Layout from "../layouts/Layout.astro";
import { images } from "../data/imagen-data";
import { Image } from "astro:assets";
import Footer from "../sections/Footer.astro";
import FlipBook from "../components/Flipbook";
import { getLangFromUrl, useTranslations } from "../i18n/utils";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const { magazine } = Astro.params;

const info = images.find((img) => img.id === magazine);

if (!info) return Astro.redirect("/404", 404);
---

<Layout title={`${info.title}`}>
	<main>
		<section class="grid grid-cols-1 md:grid-cols-2 gap-x-12 mt-20 px-8 mb-20 max-w-screen-xl mx-auto">

			<div class="flex flex-col">
			  <picture class="mb-5 lg:mb-8 w-full relative">
				<Image 
				class="aspect-[389/500] h-full object-cover w-full max-w-full rounded"
				src={info.src}
				alt={info.alt}
				loading={"eager"}
				transition:name={`image-${info.id}`}
				/>
			  </picture>
			</div>
	  
			<aside class="lg:mt-10 sm:mt-0">
			  	<h1 class="text-5xl mb-4">
					<strong class="font-black">{info.title}</strong>
					<br>
					<span class="italic text-gray-600 text-2xl">{lang === 'es' ? ('Edición' + info.edition) : (info.edition + ' Edition')}</span>
				</h1>
			  	<p class="text-lg mb-4">
					{
					info.description ? (
							<span class="font-semibold text-gray-800">{info.description}</span>
						) : (
							<span class="font-semibold text-gray-800">{t('alert.description')}</span>
						)
					}
				</p>
			  	<p class="">
					<strong>{t('page.month')}:</strong> 
					<span class="font-semibold text-gray-800">{info.date}</span>
				</p>
			  	<p class="pb-4">
					<strong>{t('page.author')}:</strong>
					<span class="font-semibold text-gray-800">{info.author}</span>
				</p>
			</aside>
		</section>
    	{
			info.id === 'cold-wheels-magazine-8' ? (
				<FlipBook client:only="react" />
			) : (
				<section class="flex flex-col items-center justify-center my-20 max-w-screen-xl mx-auto px-8">
					<p class="block font-semibold uppercase text-gray-800 text-2xl">{t('magazine.error.not-found')}</p>
				</section>
			)
		}

		<Footer title={t('footer.title')} />
	</main>
</Layout>
