---
import Layout from '../layouts/Layout.astro';
import Footer from '../sections/Footer.astro';
import { Image } from "astro:assets";
import { magazines } from '../data/magazines';
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import Badge from '../components/Badge.astro';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title="List of Magazine">
    <main>
        <section class="text-center mx-auto max-w-screen-xl my-20">
            <h1 class="mt-1 text-4xl tracking-tight leading-10 font-extrabold text-gray-900 sm:leading-none sm:text-6xl lg:text-5xl xl:text-6xl ">
				{t('magazines.title')} 2024
			</h1>   
            <h2 class="mt-1 text-2xl text-gray-700 sm:text-7xl md:text-4xl lg:text-3xl xl:text-2xl">
                {t('magazines.subtitle')}
            </h2>
        </section>

        <section class="flex flex-wrap gap-14 justify-center items-center max-w-screen-xl mx-auto my-20">
            {
                magazines.map((mag, index) => (
                    <div class="flex flex-col justify-center items-center text-center">
                        <a href={`/${mag.id}`}>
                            <Image
                                class="magazine transition-all hover:scale-110"
                                src={mag.image.src}
                                width={300}
                                height={400}
                                alt={mag.image.alt}
                                loading={
                                    index in [0, 1, 2] ? 'eager' : 'lazy'
                                }
                            />
                        </a>
                        <div class="p-6 flex flex-col items-center justify-center gap-2">
                            <Badge text={mag.status.title} status={mag.status.value} />
                            <p class="text-center uppercase text-base">{t('flipbook.title')} {mag.month} {mag.year}</p>
                        </div>
                        
                    </div>
                ))
            }
        </section>

		<Footer title={t('footer.title')} />
	</main>
    
</Layout>

<style>
    .magazine:hover {
        box-shadow: 0 0 30px #000000e6;
		filter: saturate(1.2) brightness(1.1) contrast(1.1);
    }
</style>
