---
import Layout from "../../layouts/Layout.astro";
import { images } from "../../data/imagen-data";
import { Image } from "astro:assets";
import Header from "../../layouts/Header.astro";
import Footer from "../../layouts/Footer.astro";
import FlipBook from "../../components/Flipbook";
import BookRead from "../../components/icons/BookRead.astro";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const { magazine } = Astro.params;

const info = images.find((img) => img.id === magazine);

if (!info) return Astro.redirect("/404", 404);
---

<Layout title={`RacerTruck | ${info.title}`}>
	<main>
		<section class="grid grid-cols-1 md:grid-cols-2 gap-x-12 mt-4 md:mt-20 px-8 max-w-screen-xl mx-auto">

			<div class="flex flex-col mb-10">
			  <picture class="mb-8 w-full relative">
				<Image 
				class="aspect-[389/500] h-full object-cover w-full max-w-full rounded"
				src={info.src}
				width={600}
				height={700}
				alt={info.alt}
				/>
			  </picture>
			</div>
	  
			<aside class="mt-10 md:mt-0">
			  	<h1 class="text-5xl mb-4">
					<strong class="font-black">{info.title}</strong>
					<br>
					<span class="italic text-gray-600 text-2xl">{lang === 'es' ? ('Edición ' + info.edition) : (info.edition + ' Edition')}</span>
				</h1>
			  	<p class="text-lg mb-4">
					{
					info.description ? (
							<span class="font-semibold text-gray-800">{info.description}</span>
						) : (
							<span class="font-semibold text-gray-800">{t('alert.description')}</span>
						)
					}
				</p>
			  	<p class="">
					<strong>{t('page.month')}:</strong> 
					<span class="font-semibold text-gray-800">{info.date}</span>
				</p>
			  	<p class="pb-4">
					<strong>{t('page.author')}:</strong>
					<span class="font-semibold text-gray-800">{info.author}</span>
				</p>
				<button id="read-pdf-btn" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center mr-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 justify-center">
					<BookRead class="w-5 h-5 mr-2" />
					{t('button.read')}
				  <button/>
			</aside>
		</section>
		<div id="pdf-container" class="opacity-0 transition-opacity duration-500 h-fit">
    	 	 <FlipBook client:only="react" />
    	</div>

		<Footer title="RacerTruck" />
	</main>
</Layout>

<script>
  window.document.querySelector('#read-pdf-btn').addEventListener('click', () => {
    let pdfContainer = document.querySelector('#pdf-container');
    pdfContainer.classList.add('opacity-100');
  });
</script>